@import "src/assets/styles/1-settings/colors";
@import "src/assets/styles/1-settings/typography";

$color-light-orange: rgba($color-flip-orange, 0.16);

.c-datepicker {
  &.react-datepicker {
    font-size: 0.8rem;
    background-color: $color-white;
    color: $color-black-bekko;
    border: none;
    box-shadow: none;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-transform: none;
  }

  .react-datepicker__triangle {
    position: absolute;
    left: 50px;
  }

  .react-datepicker__header {
    background-color: $color-white;
    border-bottom: none;
    padding: 0;
    position: relative;
    text-align: center;
  }

  .react-datepicker__month-container {
    float: left;
  }

  .react-datepicker__month {
    margin: 4px 8px 8px 8px;
    text-align: center;
  }

  .react-datepicker__day-names,
  .react-datepicker__week {
    white-space: nowrap;
  }

  .react-datepicker__day-name {
    font-weight: 700;
  }

  .react-datepicker__day-name,
  .react-datepicker__day {
    color: $color-black-bekko;
    display: inline-block;
    font-size: map-get($global-font-size, "base");
    line-height: 30px;
    margin: 2px;
    outline: 0;
    text-align: center;
    width: 38px;
  }

  .react-datepicker__day {
    cursor: pointer;
  }

  .react-datepicker__day:hover {
    border-radius: 4px;
    background-color: $color-light-orange;
  }

  .react-datepicker__day--today {
    font-weight: bold;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--selected:hover {
    background-color: $color-flip-orange;
    border-radius: 4px;
    color: $color-white;
  }

  .react-datepicker__day--outside-month {
    color: $color-dark-grey;
  }

  .react-datepicker__day--disabled {
    cursor: default;
    color: $color-light-grey;
  }

  .react-datepicker__day--disabled:hover {
    background-color: transparent;
  }
}
