$menubar-sprites-names: (
  home,
  home-white,
  send,
  send-white,
  note,
  note-white,
  check,
  check-white,
  wallet,
  wallet-white,
  gear,
  gear-white,
  user,
  user-white,
  power,
  power-white,
  redo,
  redo-white,
  book,
  book-white,
  verif,
  verif-white,
  money,
  money-white,
  inquiry,
  inquiry-white
) !default;

.c-menubar-icon {
  background-size: 18px;
  background-image: url("./menubar-sprites.svg");
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
}

@for $i from 1 through length($menubar-sprites-names) {
  $icon: nth($menubar-sprites-names, $i);

  .c-menubar-icon--#{$icon} {
    background-position: 0 #{($i - 1) * 18px * (-1)};
  }
}
