body {
  background: $color-white;
  color: $color-black-bekko;
  font-family: $global-font-family;
  font-size: map-get($global-font-size, "base");
  font-weight: map-get($global-font-weight, "normal");
  line-height: $global-line-height;
}
