h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black-bekko;
  font-family: $global-font-family;
  font-weight: map-get($global-font-weight, "normal");
  line-height: $global-line-height;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}
