a {
  color: $color-flip-orange;
  cursor: pointer;
  font-size: map-get($global-font-size, "base");
  font-weight: map-get($global-font-weight, "bold");
  text-decoration: underline;

  &:hover {
    color: color-level($color-flip-orange, -2.5);
  }
}
