::-webkit-scrollbar-track {
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #aaa;
}

* {
  scrollbar-color: #aaa #f5f5f5;
  scrollbar-width: thin;
}

* {
  scrollbar-color: #AAA #F5F5F5;
  scrollbar-width: thin;
}
