// Shade and Tints: Flip Orange
$color-cinnamon: #bc4b31;
$color-brick: #df593a;
$color-flip-orange: #fd6542;
$color-peach: #fd8468;
$color-anemia: #fec1b3;

// Shade and Tints: Black Bekko
$color-black-bekko: #333333;
$color-dark-smoke: #545454;
$color-dark-grey: #a9a9a9;
$color-light-grey: #dedede;
$color-light-smoke: #f9f9f9;

// Shade and Tints: Ketchup Tomato
$color-red-wine: #990f28;
$color-clown-red: #b61f3c;
$color-ketchup-tomato: #d42e52;
$color-blush: #e58297;
$color-sakura: #fbebee;

// Shade and Tints: Mango Yellow
$color-coin: #64500c;
$color-goldenrod: #dba314;
$color-mango-yellow: #ffc122;
$color-blonde: #ffda7a;
$color-banana: #fff8e5;

// Shade and Tints: Intel Blue
$color-space-blue: #034c87;
$color-pepsi: #0464b1;
$color-intel-blue: #067ad8;
$color-tie-dye: #6aafe8;
$color-bubble: #dcefff;

// Shade and Tints: Jade
$color-spinach: #06604c;
$color-pine: #078167;
$color-jade: #00bc93;
$color-slight-jade: #91dec6;
$color-light-jade: #e9fff8;

// Punchy Colors
$color-warning: #d41a1a;
$color-sunrise: #ffdb1e;
$color-sky-blue: #2fc0f0;
$color-greeneon: #22d48c;
$color-catskill-white: #f3f7f9;

// Miscellaneous Colors
$color-white: #ffffff;
$color-table-stripe: #fcfdfc;
$color-main-background: #f3f5f6;
$color-disabled: #f2f2f2;
$color-light-anemia: #fff5f3;
